# Python/Django
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.log
*.cache
*.coverage
.coverage
htmlcov/
.venv/
.env
env/
.egg-info/
dist/
build/

# Django static files
staticfiles/
assets/

# Django media files
media/

# Database
*.sqlite3

# IDE/Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.pydevproject

# Miscellaneous
*.bak
*.tmp
*.swp
*.swo
*~
*#

# Migrations
migrations/